$maincolor: rgb(203, 128, 182);
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

section,
div {
  form {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;
      border: none;

      &[type="submit"]:hover {
        @include black-test-white-bg;
      }
    }
  }
}

button#delete {
  @include white-text-black-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 90px;
  object-fit: cover;
}

a {
    color: rgb(203, 128, 182);
}

a:hover {
    color: rgb(205, 157, 191);
}